.header {
    text-align: center;
    background-color: #2d5a2d; 
    color: #fff; 
    padding: 20px;
    border-bottom: 5px solid #d64d4d; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    font-size: 36px;
    margin: 0;
    color: #d64d4d; 
 
  }
  
  .subtitle {
    font-size: 24px;
    margin: 10px 0;
    color: #fff; 
  }

